<header th:fragment="header" className="header">
  <div className="main_index">
    <a href="/"><p>Front Page</p></a>
    <a href="/p/"><p>Sub Page</p></a>
  </div>
  <div className="user_group">
      <div th:if="${session?.user}" class="logged_in">
        <div className="hamburger">
          <a th:href="@{'/user/' + ${session?.user?.user_id} + '/edit'}"><p>Edit</p></a>
          <a th:href="@{'/user/' + 1 + '/edit'}"><p>Edit Account</p></a>
         <a href="/logout"><p>Log out</p></a>
        </div>
      </div>
      <div th:unless="${session?.user}" class="not_logged_in">
        <a href="/login"><p>Log in</p></a>
        <a href="/register"><p>Register</p></a>
      </div>
  </div>
</header>