<script>
    let ctx = null;
    let analyzer = null;
    let src = null;
    let bufLen = 0;
    let data = null;
    let playing = false;
    let element = null;
    let firstFrameCompleted = false;

    let canvas = null;
    let canvasCtx = null;

    function initializeOscilloscopes() {
        let oscilloscopes = document.getElementsByClassName('osc');

        for(let oscilloscope of oscilloscopes) {
            let canvas = oscilloscope;

            canvas.style.width = "300";
            canvas.style.height = "80px";

            canvasCtx = canvas.getContext("2d");

            canvasCtx.fillStyle = "rgb(0, 0, 0)";
            canvasCtx.fillRect(0, 0, canvas.width, canvas.height);

            canvasCtx.lineWidth = 2;
            canvasCtx.strokeStyle = "rgb(0, 0, 0)";

            canvasCtx.beginPath();
            canvasCtx.moveTo(0, canvas.height / 2);
            canvasCtx.lineTo(canvas.width, canvas.height / 2);
            canvasCtx.stroke();
        }
    }

    function draw(audioSource) {
        requestAnimationFrame(draw);

        analyzer.getByteTimeDomainData(data);

        canvasCtx.fillStyle = "rgb(0, 0, 0)";
        canvasCtx.fillRect(0, 0, canvas.width, canvas.height);

        canvasCtx.lineWidth = 2;
        canvasCtx.strokeStyle = `rgb(${Math.random()*255}, ${Math.random()*255}, ${Math.random()*255})`;

        canvasCtx.beginPath();

        const sliceWidth = (canvas.width * 1.0) / bufLen;
        let x = 0;

        for (let i = 0; i < bufLen; i++) {
            const v = data[i] / 128.0;
            const y = (v * canvas.height) / 2;

            if (i === 0) {
                canvasCtx.moveTo(x, y);
            } else {
                canvasCtx.lineTo(x, y);
            }

            x += sliceWidth;
        }

        canvasCtx.lineTo(canvas.width, canvas.height / 2);
        canvasCtx.stroke();

        if(!firstFrameCompleted) {
            firstFrameCompleted = true;
            audioSource.currentTime = 0.0;
        }
    }

    function startOsc(audioSource) {
        let id = audioSource.id;
        let oscilloscopes = document.getElementsByClassName('osc');

        for (let i = 0; i < oscilloscopes.length; i++) {
            if (oscilloscopes[i].id === id) {
                canvas = oscilloscopes[i];
            }
        }

        canvas.style.width = "300";
        canvas.style.height = "80px";

        canvasCtx = canvas.getContext("2d");
        playing = true;
        element = audioSource;

        analyzer = ctx.createAnalyser();
        src = ctx.createMediaElementSource(audioSource);

        bufLen = analyzer.frequencyBinCount;
        data = new Uint8Array(bufLen);

        src.connect(analyzer);
        analyzer.connect(ctx.destination);

        draw(audioSource);
    }

    function resumeOsc(audioSource) {
        draw(audioSource);
    }

    function disconnectOsc() {
        playing = false;

        src.disconnect(analyzer);
        analyzer.disconnect(ctx.destination);

        analyzer = null;
        src = null;
        bufLen = 0;
        data = null;
    }

    initializeOscilloscopes();

    let audioElements = document.getElementsByTagName("audio");
    for (let audioElement of audioElements) {
        audioElement.addEventListener('play', event => {
            if (ctx === null) {
                ctx = new AudioContext();
            }
            if (playing) {
                if (audioElement !== element) {
                    element.pause();
                    disconnectOsc();
                    startOsc(audioElement);
                } else {
                    resumeOsc(audioElement);
                }
            } else {
                startOsc(audioElement);
            }
        });
        audioElement.addEventListener('ended', event => disconnectOsc());
    }
</script>