<script>
    let ctx = new AudioContext();
    let analyzer = null;
    let src = null;
    let bufLen = 0;
    let data = null;
    let playing = false;
    let element = null;

    let canvas = null;
    let canvasCtx = null;

    function draw() {
        requestAnimationFrame(draw);

        analyzer.getByteTimeDomainData(data);

        canvasCtx.fillStyle = "rgb(0, 0, 0)";
        canvasCtx.fillRect(0, 0, canvas.width, canvas.height);

        canvasCtx.lineWidth = 2;
        canvasCtx.strokeStyle = `rgb(${Math.random()*255}, ${Math.random()*255}, ${Math.random()*255})`;

        canvasCtx.beginPath();

        const sliceWidth = (canvas.width * 1.0) / bufLen;
        let x = 0;

        for (let i = 0; i < bufLen; i++) {
            const v = data[i] / 128.0;
            const y = (v * canvas.height) / 2;

            if (i === 0) {
                canvasCtx.moveTo(x, y);
            } else {
                canvasCtx.lineTo(x, y);
            }

            x += sliceWidth;
        }

        canvasCtx.lineTo(canvas.width, canvas.height / 2);
        canvasCtx.stroke();
    }

    function startOsc(audioSource) {
        let id = audioSource.id;
        let oscillators = document.getElementsByClassName('osc');

        for (let i = 0; i < oscillators.length; i++) {
            if (oscillators[i].id === id) {
                canvas = oscillators[i];
            }
        }

        canvas.style.width = "300";
        canvas.style.height = "80px";

        canvasCtx = canvas.getContext("2d");
        playing = true;
        element = audioSource;

        analyzer = ctx.createAnalyser();
        src = ctx.createMediaElementSource(audioSource);

        bufLen = analyzer.frequencyBinCount;
        data = new Uint8Array(bufLen);

        src.connect(analyzer);
        analyzer.connect(ctx.destination);

        draw();
    }

    function resumeOsc() {
        draw();
    }

    function disconnectOsc() {
        playing = false;

        src.disconnect(analyzer);
        analyzer.disconnect(ctx.destination);

        analyzer = null;
        src = null;
        bufLen = 0;
        data = null;
    }

    let audioElements = document.getElementsByTagName("audio");
    for (let audioElement of audioElements) {
        audioElement.addEventListener('play', event => {
            if (playing) {
                if (audioElement !== element) {
                    element.pause();
                    disconnectOsc();
                    startOsc(audioElement);
                } else {
                    resumeOsc();
                }
            } else {
                startOsc(audioElement);
            }
        });
        audioElement.addEventListener('ended', event => disconnectOsc());
    }
</script>