<div th:fragment="post" th:remove="tag">
    <div class="flex flex-auto flex-row justify-between mt-4 ml-4">
        <div class="flex flex-auto flex-row">
            <div class="flex w-8 h-8 mr-1 pb-1">
                <img alt="user image" class="rounded-full border border-gray-100 shadow-sm"
                     th:src="${post.creator.getAvatar()}"/>
            </div>
            <a class="font-audiowide text-sky-400 text-opacity-80" th:href="@{'/u/' + ${post.creator.userName}}"><p
                    th:text=" ${post.creator.userName}"></p></a>
        </div>
        <div class="post_votes flex flex-auto flex-row">
            <div class="vote_buttons flex flex-auto flex-row upvote_div" th:id="@{'upvote_div/' + ${post.postId}}">
                <form action="#" class="upvote_post" method="post"
                      th:action="@{/p/} + ${post.postId} + @{/upvote}" th:if="${session?.user}">
                    <div th:if="${post.findVoter(session.user).isPresent()}">
                        <label class="flex flex-auto flex-row"
                               th:switch="${post.findVoter(session.user).get().isVote()}">
                            <input name="image" type="submit" value="">
                            <svg class="w-6 h-6 hover:text-zinc-300 text-purple-600" fill="none" stroke="currentColor"
                                 stroke-width="1.5" th:case="${true}" th:id="@{'/p/' + ${post.postId} + '/upvote'}" type="submit"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                            <svg class="w-6 h-6 text-zinc-300 hover:text-purple-600" fill="none" stroke="currentColor"
                                 stroke-width="1.5" th:case="${false}" th:id="@{'/p/' + ${post.postId} + '/upvote'}" type="submit"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </label>
                    </div>
                    <div th:if="${post.findVoter(session.user).isEmpty()}">
                        <label class="flex flex-auto flex-row">
                            <input name="image" type="submit" value="">
                            <svg class="w-6 h-6 text-zinc-300 hover:text-purple-600" fill="none"
                                 stroke="currentColor" stroke-width="1.5" th:id="@{'/p/' + ${post.postId} + '/upvote'}" type="submit"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </label>
                    </div>
                </form>
                <div th:if="${session?.user == null && post.getVote() > 0}">
                    <svg class="w-6 h-6 text-purple-600" fill="none" stroke="currentColor" stroke-width="1.5"
                         type="submit" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
                <p class="vote_post text-green-400 ml-2 mr-2" th:id="@{/p/} + ${post.postId}" th:if="${post.vote} < 0"
                   th:text="${post.vote}"></p>
                <p class="vote_post text-zinc-300 ml-2 mr-2" th:id="@{/p/} + ${post.postId}" th:if="${post.vote} == 0"
                   th:text="${post.vote}"></p>
                <p class="vote_post text-purple-600 ml-2 mr-2" th:id="@{/p/} + ${post.postId}" th:if="${post.vote} > 0"
                   th:text="${post.vote}"></p>
                <form action="#" class="downvote_post flex flex-auto flex-row" method="post"
                      th:action="@{/p/} + ${post.postId} + @{/downvote}" th:if="${session?.user}">
                    <div th:if="${post.findVoter(session.user).isPresent()}">
                        <label class="flex flex-auto flex-row"
                               th:switch="${post.findVoter(session.user).get().isVote()}">
                            <input name="image" type="submit" value="">
                            <svg class="w-6 h-6 text-zinc-300 hover:text-green-400" fill="none"
                                 stroke="currentColor" stroke-width="1.5" th:case="${true}" th:id="@{'/p/' + ${post.postId} + '/downvote'}"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                            <svg class="w-6 h-6 hover:text-zinc-300 text-green-400" fill="none"
                                 stroke="currentColor" stroke-width="1.5" th:case="${false}" th:id="@{'/p/' + ${post.postId} + '/downvote'}"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </label>
                    </div>
                    <div th:if="${post.findVoter(session.user).isEmpty()}">
                        <label class="flex flex-auto flex-row">
                            <input name="image" type="submit" value="">
                            <svg class="w-6 h-6 text-zinc-300 hover:text-green-400" fill="none"
                                 stroke="currentColor" stroke-width="1.5" th:id="@{'/p/' + ${post.postId} + '/downvote'}" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </label>
                    </div>
                </form>
                <div th:if="${session?.user == null && post.getVote() < 0}">
                    <svg class="w-6 h-6 text-green-400" fill="none" stroke="currentColor" stroke-width="1.5"
                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="mr-5">
            <a th:href="@{'/p/' + ${post.sub.slug}}"><p class="font-jetbrains font-bold text-amber-200 text-opacity-60"
                                                        th:text="@{p/} + ${post.sub.name}"></p>
            </a>
        </div>
    </div>
    <span class="w-full block m-auto p-0.5 h1 bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400 mt-2 mb-4"></span>
    <a class="font-opensans font-semibold text-green-300 ml-4 text-xl mb-4"
       th:href="@{'/p/' + ${post.sub.slug} + '/' + ${post.postId}}">
        <h1 th:if="${title}" th:text="${post.title}"></h1>
        <h2 th:text="${post.title}" th:unless="${title}"></h2>
    </a>
    <div class="font-opensans font-medium text-indigo-400 ml-4 text-lg mb-4" th:utext="${post.content.text}"></div>
    <div class="flex flex-auto flex-col justify-center m-auto">
        <a class="" th:href="@{'/p/' + ${post.sub.slug} + '/' + ${post.postId}}"> <img
                th:src="@{${post.content.image}}"/></a>
    </div>
    <div class="flex flex-auto flex-col justify-center m-auto w-full" th:if="${post.content.audio != ''}">
        <audio class="w-full" controls crossorigin="anonymous" th:id="@{${post.postId}}">
            <source th:src="@{${post.content.audio}}" type="audio/mpeg">
            <source th:src="@{${post.content.audio}}" type="audio/ogg">
            <source th:src="@{${post.content.audio}}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="flex flex-auto flex-col justify-center m-auto w-full" th:if="${post.content.recording != ''}">
        <audio class="w-full" controls crossorigin="anonymous">
            <source th:src="@{${post.content.recording}}" type="audio/ogg">
            <source th:src="@{${post.content.recording}}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
    </div>
    <canvas th:unless="${post.content.audio == '' && post.content.recording == ''}" class="osc" th:id="@{${post.postId}}"></canvas>
    <div class="flex flex-col" th:if="${form}">
        <button class="w-20 ml-auto mr-auto btn post mb-8" th:id="@{button} + @{/p/} + ${post.postId}" th:value="${post.postId}">Reply</button>
        <form class="hidden flex flex-col w-1/2 ml-auto mr-auto justify-start" th:id="@{form} + @{/p/} + ${post.postId}" action="#" enctype="multipart/form-data" method="post"
              th:action="@{/p/} + ${post.sub.slug} + '/' + ${post.postId}">
            <textarea
                    class=""
                    id="text"
                    name="text"></textarea>

            <div class="flex flex-row mt-8 mb-8 justify-center">
                <label class="btn w-36 mr-3" for="image">Image file</label>
                <input
                        accept="image/*"
                        class="hidden"
                        field="*{image}"
                        id="image"
                        name="image"
                        type="file">

                <input
                        field="*{recording}"
                        hidden
                        id="recording"
                        name="recording"
                        onchange="test(this)"
                        type="text"
                        value="recording">

                <label class="btn w-36 ml-3 mr-3" for="audio">Audio file</label>
                <input class="btn w-36 ml-3" onclick="recordAudio(this, 'recording')" type="button" value="Record">
                <div th:replace="fragments/recorderScript :: recorderScript"></div>
                <input
                        accept="audio/*"
                        capture
                        class="hidden"
                        id="audio"
                        name="audio"
                        onchange="play(this)"
                        type="file"
                        value="*{audio}">
            </div>
            <div th:replace="fragments/playerScript :: playerScript"></div>
            <audio controls id="player"></audio>
            <input class="btn w-36 ml-auto mr-auto mt-6" type="submit" value="Submit reply">
        </form>
    </div>
</div>
