<div th:fragment="post" th:remove="tag">
  <div class="flex flex-auto flex-row justify-between mt-4 ml-4">
    <div class="flex flex-auto flex-row">
      <div class="flex w-8 h-8 mr-1 pb-1">
        <img class="rounded-full border border-gray-100 shadow-sm" th:src="${post.creator.getAvatar()}" alt="user image" />
      </div>
      <a th:href="@{'/u/' + ${post.creator.userName}}" class="font-audiowide text-sky-400 text-opacity-80"> <p th:text=" ${post.creator.userName}"></p></a>
    </div>
    <div class="post_votes flex flex-auto flex-row">
      <div class="vote_buttons flex flex-auto flex-row upvote_div" th:id="@{'upvote_div/' + ${post.postId}}" >
        <form class="upvote_post" action="#" th:if="${session?.user}" th:action="@{/p/} + ${post.postId} + @{/upvote}" method="post">
          <div th:if="${post.findVoter(session.user)}">
            <label th:switch="${post.findVoter(session.user).isVote()}" class="flex flex-auto flex-row">
              <input type="submit" name="image" value="">
              <svg th:case="${true}" th:id="@{'/p/' + ${post.postId} + '/upvote'}" type="submit" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:text-zinc-300 text-purple-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <svg th:case="${false}" th:id="@{'/p/' + ${post.postId} + '/upvote'}" type="submit" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-zinc-300 hover:text-purple-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </label>
          </div>
          <div th:unless="${post.findVoter(session.user)}">
            <label class="flex flex-auto flex-row">
              <input type="submit" name="image" value="">
              <svg type="submit" th:id="@{'/p/' + ${post.postId} + '/upvote'}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-zinc-300 hover:text-purple-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </label>
          </div>
        </form>
        <div th:if="${session?.user == null && post.getVote() > 0}">
          <svg type="submit" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-purple-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <p class="vote_post text-green-400 ml-2 mr-2" th:if="${post.vote} < 0" th:id="@{/p/} + ${post.postId}" th:text="${post.vote}"></p>
        <p class="vote_post text-zinc-300 ml-2 mr-2" th:if="${post.vote} == 0" th:id="@{/p/} + ${post.postId}" th:text="${post.vote}"></p>
        <p class="vote_post text-purple-600 ml-2 mr-2" th:if="${post.vote} > 0" th:id="@{/p/} + ${post.postId}" th:text="${post.vote}"></p>
        <form class="downvote_post flex flex-auto flex-row" th:if="${session?.user}" action="#" th:action="@{/p/} + ${post.postId} + @{/downvote}" method="post">
          <div th:if="${post.findVoter(session.user)}">
            <label th:switch="${post.findVoter(session.user).isVote()}" class="flex flex-auto flex-row">
              <input type="submit" name="image" value="">
              <svg th:case="${true}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-zinc-300 hover:text-green-400">
                <path stroke-linecap="round" th:id="@{'/p/' + ${post.postId} + '/downvote'}" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <svg th:case="${false}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:text-zinc-300 text-green-400">
                <path stroke-linecap="round" th:id="@{'/p/' + ${post.postId} + '/downvote'}" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </label>
          </div>
          <div th:unless="${post.findVoter(session.user)}">
            <label class="flex flex-auto flex-row">
              <input type="submit" name="image" value="">
              <svg xmlns="http://www.w3.org/2000/svg" th:id="@{'/p/' + ${post.postId} + '/downvote'}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-zinc-300 hover:text-green-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </label>
          </div>
        </form>
        <div th:if="${session?.user == null && post.getVote() < 0}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
    </div>
    <div th:unless="${sub}" class="mr-5">
      <a th:href="@{'/p/' + ${post.sub.slug}}"> <p th:text="@{p/} + ${post.sub.name}" class="font-jetbrains font-bold text-amber-200 text-opacity-60"></p></a>
    </div>
  </div>
  <span class="w-full block m-auto p-0.5 h1 bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400 mt-2 mb-4"></span>
  <a th:href="@{'/p/' + ${post.sub.slug} + '/' + ${post.postId}}" class="font-opensans font-semibold text-zinc-300 ml-4 text-xl mb-4">
    <h1 th:if="${title}" th:text="${post.title}"></h1>
    <h2 th:unless="${title}" th:text="${post.title}"></h2>
  </a>
  <div class="flex flex-auto flex-col justify-center m-auto">
    <a th:href="@{'/p/' + ${post.sub.slug} + '/' + ${post.postId}}" class=""> <img th:src="@{${post.content.image}}"/></a>
  </div>
  <div th:if="${post.content.audio != ''}" class="flex flex-auto flex-col justify-center m-auto">
    <audio controls>
      <source th:src="@{${post.content.audio}}" type="audio/mpeg">
      <source th:src="@{${post.content.audio}}" type="audio/ogg">
      <source th:src="@{${post.content.audio}}" type="audio/wav">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div th:if="${post.content.recording != ''}" class="flex flex-auto flex-col justify-center m-auto">
    <audio controls>
      <source th:src="@{${post.content.recording}}" type="audio/ogg">
      <source th:src="@{${post.content.recording}}" type="audio/wav">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div th:if="${form}">
    <form enctype="multipart/form-data" action="#" th:action="@{/p/} + ${post.sub.slug} + '/' + ${post.postId}" method="post">
      <div>
        <input
                type="text"
                field="*{text}"
                name="text"
                id="text"
                placeholder="What's on your mind?">

        <label for="image">Image file</label>
        <input
                type="file"
                field="*{image}"
                name="image"
                id="image"
                accept="image/*">

        <input
                type="text"
                field="*{recording}"
                value="recording"
                onchange="test(this)"
                name="recording"
                id="recording"
                hidden>

        <label for="audio">Audio file</label>
        <input type="button" onclick="recordAudio(this, 'recording')" value="Record">
        <div th:replace="fragments/recorderScript :: recorderScript"></div>
        <input
                type="file"
                onchange="play(this)"
                value="*{audio}"
                name="audio"
                id="audio"
                accept="audio/*"
                capture>
        <div th:replace="fragments/playerScript :: playerScript"></div>
        <audio id="player" controls></audio>
      </div>
      <input type="submit" value="Add comment">
    </form>
  </div>
</div>
