<div th:fragment="recorderScript" th:remove="tag">
    <script>
        let record = false;
        let mediaRecorder;
        let chunks = [];

        function recordAudio(el, reply) {
            if (!record) {
                navigator.mediaDevices.getUserMedia({audio: true, video: false})
                    .then((stream) => {
                        mediaRecorder = new MediaRecorder(stream);

                        mediaRecorder.ondataavailable = (e) => {
                            chunks.push(e.data);
                        }

                        mediaRecorder.onstop = async (e) => {
                            let audioPlayer = document.getElementById('player');


                            const blob = new Blob(chunks, {type: "audio/ogg"});
                            var dataUrl = await new Promise(r => {
                                let a = new FileReader();
                                a.onload = r;
                                a.readAsDataURL(blob)
                            }).then(e => e.target.result);
                            chunks = [];
                            const audioUrl = window.URL.createObjectURL(blob);
                            audioPlayer.src = audioUrl;
                            let recording = document.getElementById(reply);
                            recording.value = dataUrl;

                        }

                        mediaRecorder.start();
                        record = !record;
                        changeButtonValue(el);
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            } else {
                mediaRecorder.stop();
                record = !record;
                changeButtonValue(el)
            }
        }

        function changeButtonValue(el) {
            if (el.getAttribute("value") === "Record") {
                el.setAttribute("value", "Stop");
            } else {
                el.setAttribute("value", "Record");
            }
        }
    </script>
</div>