<div th:fragment="replies" th:remove="tag">
  <div th:switch="${postReplies}">
    <ul th:case="*">
        <li th:each="postReply : ${postReplies}">
            <canvas class="osc" th:id="@{${post.postId} + '/' + ${postReply.replyId}}"></canvas>
            <a th:href="@{'/u/' + ${postReply.creator.userName}}"> <p th:text="@{'u/' + ${postReply.creator.userName}}"></p></a>
            <div th:utext="${postReply.content.text}"></div>
            <img th:src="${postReply.content.image}"/>
            <div th:if="${postReply.content.audio != ''}">
                <audio crossorigin="anonymous" th:id="@{${post.postId} + '/' + ${postReply.replyId}}" controls>
                    <source th:src="@{${postReply.content.audio}}" type="audio/mpeg">
                    <source th:src="@{${postReply.content.audio}}" type="audio/ogg">
                    <source th:src="@{${postReply.content.audio}}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div th:if="${postReply.content.recording != ''}">
                <audio crossorigin="anonymous" th:id="@{${post.postId} + '/' + ${postReply.replyId}}" controls>
                    <source th:src="@{${postReply.content.recording}}" type="audio/ogg">
                    <source th:src="@{${postReply.content.recording}}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="reply_votes">
                <p class="vote_reply" th:id="@{/r/} + ${postReply.replyId}" th:text="${postReply.vote}"></p>
                <div class="vote_buttons" th:if="${session?.user}">
                    <form class="upvote_reply" action="#" th:action="@{/r/} + ${postReply.replyId} + @{/upvote}" method="post">
                        <input type="submit" value="Upvote">
                    </form>
                    <form class="downvote_reply" action="#" th:action="@{/r/} + ${postReply.replyId} + @{/downvote}" method="post">
                        <input type="submit" value="Downvote">
                    </form>
                </div>
            </div>
          <div th:with="postReplies = ${postReply.replies}"
               th:include="fragments/reply.html :: replies" th:remove="tag" ></div>
          <form action="#" th:action="@{/p/} + ${post.sub.slug} + @{/} + ${post.postId} + @{/} + ${postReply.replyId}" method="post" enctype="multipart/form-data">
            <div>
              <input
                      type="text"
                      field="*{text}"
                      name="text"
                      id="replyText"
                      placeholder="What's on your mind?">

              <label for="image">Image file</label>
              <input
                      type="file"
                      field="*{image}"
                      name="image"
                      id="replyImage"
                      accept="image/*">

              <input
                      type="text"
                      field="*{recording}"
                      value="recording"
                      onchange="test(this)"
                      name="recording"
                      id="replyRecording"
                      hidden>

              <label for="audio">Audio file</label>
              <input type="button" onclick="recordAudio(this, 'replyRecording')" value="Record">
              <input
                      type="file"
                      onchange="play(this)"
                      value="*{audio}"
                      name="audio"
                      id="replyAudio"
                      accept="audio/*"
                      capture>
            </div>
            <input type="submit" value="Add comment">
          </form>
        </li>
    </ul>
  </div>
</div>
