<div th:fragment="userVisitorScript" th:remove="tag">
    <script>
        function toggleBio(value) {
            let element = document.getElementById("bio")
            $(element).toggleClass("hidden")
        }

        function toggleHidden(hidden) {
            let stuff = document.getElementsByClassName(hidden);
            for (thing of stuff) {
                $(thing).toggleClass("hidden")
            }
        }


        $(document).ready(function () {
            $("[id^=button]").click( function() {
                if (this.classList.contains("posts")) {
                    toggleHidden("postss");
                } else if (this.classList.contains("replies")) {
                    toggleHidden("repliess");
                } else if (this.classList.contains("subs")) {
                    toggleHidden("subss");
                } else if (this.classList.contains("bio")) {
                    toggleBio(this.value);
                }
            })
        });

    </script>
</div>