<div th:fragment="voteScript" th:remove="tag">
  <script>
    function updateVote(vote, upvote) {
      let votes = document.getElementsByClassName(vote);
      updateVotes(votes, upvote)
    }

    function updateVotes(votes, upvote) {
      for (let vote of votes) {
        let result = fetch(vote.id + '/vote').then((response) => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.blob();}).then((response) => {
            response.text().then((result) => {
              if (vote.innerHTML != `${result}`) {
                updateClass(vote, upvote)
              }
              vote.innerHTML = `${result}`;
            });
          });
      }
    }

    function updateClass(vote, upvote) {
      let uvote = document.getElementById(vote.id + '/upvote')
      let dvote = document.getElementById(vote.id + '/downvote')
      if (upvote) {
        if ($(uvote).hasClass('text-zinc-300')) {
          if ($(dvote).hasClass("text-green-400")) {
            $(dvote).toggleClass(downvoteClasses)
          }
        }
        $(uvote).toggleClass(upvoteClasses)

        return
      }

      if ($(dvote).hasClass('text-zinc-300')) {
        if ($(uvote).hasClass("text-purple-600")) {
          $(uvote).toggleClass(upvoteClasses)
        }
      }
      $(dvote).toggleClass(downvoteClasses)
    }

      var replyvote = 'vote_reply'
      var postvote = 'vote_post'

      var upvoteClasses = ['hover:text-zinc-300',
                           'text-zinc-300',
                           'text-purple-600',
                           'hover:text-purple-600']
      var downvoteClasses = ['hover:text-zinc-300',
                             'text-zinc-300',
                             'text-green-400',
                             'hover:text-green-400']


    $(document).ready(function() {
      $('.upvote_reply').ajaxForm(function() {
        updateVote(replyvote, true);
      });
      $('.downvote_reply').ajaxForm(function() {
        updateVote(replyvote, false);
      });
      $('.upvote_post').ajaxForm(function() {
        updateVote(postvote, true);
      });
      $('.downvote_post').ajaxForm(function() {
        updateVote(postvote, false);
      });
    });

  </script>
</div>