<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout.html}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">Change Password</title>
</head>
<body>
<div layout:fragment="content" th:if="${session?.user}" th:object="${session.user}">
    <form action="#" method="post" th:action="@{'/user/' + *{user_id} + '/edit/password'}">
        <label for="password">New password</label>
        <input field="password" id="password" name="password" type="text">
        <p th:if="${updated}">Password changed</p>
        <input type="submit" value="Change">
    </form>
</div>
</body>
</html>