<!DOCTYPE html>
<html lang="en" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
	<title layout:fragment="title">Change Username</title>
</head>
	<body>
		<div layout:fragment="content" th:if="${session?.user}" th:object="${session.user}" th:class="edit">
			<form action="#" th:action="@{'/user/' + *{userName} + '/edit/username'}" method="post">
				<label for="username">Username</label>
				<input type="text" field="*{username}" name="username" id="username" th:value="*{userName}">
				<p th:if="${error}" th:text="${error}"></p>
				<p th:if="${updated}">Username changed</p>
				<input type="submit" value="Change">
			</form>
		</div>
	</body>
</html>