<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout.html}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:fragment="title">Change Password</title>
    </head>
    <body>
        <div layout:fragment="content" th:if="${session?.user}" th:object="${session.user}">
            <div th:replace="fragments/accountHeader :: accountHeader"></div>
            <div class="flex flex-auto flex-col mr-auto ml-auto">
                <form class="flex flex-col" action="#" method="post" th:action="@{'/user/' + *{user_id} + '/edit/password'}">
                    <label class="text-center font-bold" for="password">New password</label>
                    <input class="pl-3 h-10 mt-2" field="password" id="password" name="password" type="text">
                    <p class="text-center text-green-400" th:if="${updated}">Password changed</p>
                    <input class="mt-2 btn" type="submit" value="Change">
                </form>
            </div>
        </div>
    </body>
</html>