<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<div th:replace="fragments/header :: header"></div>
	</head>
	<body>
		<div th:if="${session?.user}" th:object="${session.user}">
			<form action="#" th:action="@{'/user/' + *{user_id} + '/edit/password'}" method="post">
				<label for="password">New password</label>
				<input type="text" field="password" name="password" id="password">
				<p th:if="${updated}">Password changed</p>
				<input type="submit" value="Change">
			</form>
		</div>
	</body>
</html>