<html lang="en" xmlns:layout="[https://www.ultraq.net.nz/thymeleaf/layout](https://www.ultraq.net.nz/thymeleaf/layout)">
  <head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Layout Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="https://raw.githubusercontent.com/themesberg/flowbite/main/src/flowbite.js"></script>
    <div th:replace="fragments/voteScript :: voteScript"></div>
    <link rel="stylesheet" th:href="@{/css/tailwind.css}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.33.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  </head>
  <body class="bg-black min-h-screen">
    <header th:replace="fragments/header :: header" ></header>
    <div layout:fragment="content" class="m-auto md:max-w-screen-md lg:max-w-screen-lg 2xl:max-w-screen-2xl font-jetbrains mt-10 flex flex-auto flex-col justify-center">
      <p>Layout content</p>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
  <div layout:fragment="oscillatorCode"></div>
  </body>
</html>