<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title" class="center">Log in to the Pulsiverse</title>
</head>
<div layout:fragment="content">
    <div class="flex flex-col m-5 h-full">
        <h2 class="text-indigo-500 font-trace text-center text-4xl m-10">Become Pulsa</h2>
        <form class="flex flex-col flex-auto w-1/4 self-center justify-between" action="#" method="post" th:action="@{/login}" th:object="${user}">
            <label class="mt-5 text-green-400 text-center" for="userName">Username:</label>
            <input class="mt-3 text-center bg-black" id="userName" name="userName" th:field="*{userName}" type="text">

            <label class="mt-5 text-green-400 text-center" for="password">Password:</label>
            <input class="mt-3 text-center bg-black" id="password" name="password" th:field="*{password}" type="password">


            <input class="btn mt-10" type="submit" value="Login">
        </form>
    </div>
    <h6 class="text-center text-red-400" th:text="${param.error} ? 'Incorrect username and/or password' : null"></h6>
</div>
</html>