<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">Post Genesis</title>
    <link href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
</head>
<div layout:fragment="content">
    <form action="#" enctype="multipart/form-data" method="post" th:action="@{'/p/' + ${slug} + '/newPost'}">
        <label for="title">Title</label>
        <input field="*{title}" id="title" name="title" placeholder="Title" required type="text">
        <div>
            <label for="text">Text</label>
            <textarea
                    id="text"
                    name="text"></textarea>

            <label for="image">Image</label>
            <input
                    accept="image/*"
                    field="*{image}"
                    id="image"
                    name="image"
                    type="file">

            <label for="audio">Audio file</label>
            <input
                    field="*{recording}"
                    hidden
                    id="recording"
                    name="recording"
                    onchange="test(this)"
                    type="text"
                    value="recording">
            <input onclick="recordAudio(this, 'recording')" type="button" value="Record">
            <div th:replace="fragments/recorderScript :: recorderScript"></div>
            <input
                    accept="audio/*"
                    capture
                    id="audio"
                    name="audio"
                    onchange="play(this)"
                    type="file"
                    value="*{audio}">
            <div th:replace="fragments/playerScript :: playerScript"></div>
            <audio controls id="player"></audio>
        </div>

        <input type="submit" value="Create new post">
    </form>
</div>
<div layout:fragment="editor" th:include="fragments/editor"></div>
</html>