<!DOCTYPE html>
<html lang="en" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
	<head>
		<title layout:fragment="title">Post Genesis</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
		<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
	</head>
	<div layout:fragment="content">
		<form action="#" th:action="@{'/p/' + ${slug} + '/newPost'}"  method="post" enctype="multipart/form-data">
		  <label for="title">Title</label>
		  <input type="text" field="*{title}" name="title" id="title" placeholder="Title" required>
		  <div>
				<label for="text">Text</label>
				<textarea
					name="text"
					id="text"></textarea>

			<label for="image">Image</label>
			<input
					type="file"
					field="*{image}"
					name="image"
					id="image"
					accept="image/*">

				<label for="audio">Audio file</label>
			  <input
					  type="text"
					  field="*{recording}"
					  value="recording"
					  onchange="test(this)"
					  name="recording"
					  id="recording"
					  hidden>
			  <input type="button" onclick="recordAudio(this, 'recording')" value="Record">
			  <div th:replace="fragments/recorderScript :: recorderScript"></div>
			  <input
					  type="file"
					  onchange="play(this)"
					  value="*{audio}"
					  name="audio"
					  id="audio"
					  accept="audio/*"
					  capture>
			  <div th:replace="fragments/playerScript :: playerScript"></div>
			  <audio id="player" controls></audio>
		  </div>

		  <input type="submit" value="Create new post">
		</form>
	</div>
	<div layout:fragment="editor" th:include="fragments/editor"></div>
</html>