<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Post Genesis</title>
</head>
<body>

<form action="#" th:action="@{/newPost}" th:object="${post}"  method="post">
  <label for="title">Title</label>
  <input type="text" field="*{title}" name="title" id="title" placeholder="Title">
  <div th:object="${content}">
		<label for="text">Text</label>
		<input
			type="text"
			field="*{text}"
			name="text"
			id="text"
			placeholder="Whats on your mind">
		
  	<label for="image">Image</label>
  	<input
			type="file"
			field="*{image}"
			name="image"
			id="image"
			accept="image/*">
		
		<label for="text">Audio file</label>
		<input
			type="file"
			field="*{audio}"
			name="audio"
			id="audio"
			accept="audio/*"
		>
  </div>
  
  <input type="submit" value="Create new post">
</form>

</body>
</html>