<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title" th:text="@{'Pul-[ ' + ${post.sub.name} + ' ' + ${post.title} + ' ]-sa'}"></title>
    <link href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
</head>
<div layout:fragment="content">
    <a th:href="@{'/p/' + *{sub.slug}}"><h1 th:text="*{sub.name}"></h1></a>
    <div th:replace="fragments/post :: post(sub = true, form = true)"></div>
    <div th:replace="fragments/reply :: replies"></div>
</div>
<div layout:fragment="oscillatorCode" th:include="fragments/oscilloscope"></div>
<div layout:fragment="editor" th:include="fragments/editor"></div>
</html>