<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Post</title>
	</head>
	<body>
		<div th:object="${post}">
			<h1 th:text="*{title}"></h1>
			<h3 th:text="*{content.text}"></h3>
			<p th:text="${post.postId}"></p>
			<p th:text="${post.created}"></p>
		</div>
		<div th:switch="${postReplies}">
			<div th:case="*">
				<ul th:each="postReply : ${postReplies}">
					<li th:text="${postReply.content.text}"></li>
					<div th:switch="${postReply.replies}">
						<div th:case="*">
							<ul th:each="reply : ${postReply.replies}">
								<li th:text="${reply.content.text}"></li>
							</ul>
						</div>
					</div>
					<form action="#" th:action="@{/post/} + ${post.postId} + @{/} + ${postReply.replyId} " th:object="${reply}" method="post">
						<div th:object="${content}">
							<input
								type="text"
								field="*{text}"
								name="text"
								id="nestedReplytext"
								placeholder="Whats on your mind">
							
							<label for="text">Audio file</label>
							<input
								type="file"
								field="*{audio}"
								name="audio"
								id="nestedReplyAudio"
								accept="audio/*">
						</div>
						<input type="submit" value="Add comment">
					</form>
					
				</ul>
			</div>
		</div>
		<form action="#" th:action="@{/post/} + ${post.postId}" th:object="${reply}" method="post">
			<div th:object="${content}">
				<input
					type="text"
					field="*{text}"
					name="text"
					id="text"
					placeholder="Whats on your mind">
				
				<label for="text">Audio file</label>
				<input
					type="file"
					field="*{audio}"
					name="audio"
					id="audio"
					accept="audio/*">
			</div>
			<input type="submit" value="Add comment">
		</form>
	</body>
</html>