<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Register New Account</title>
</head>
<div layout:fragment="content">
    <h2>Join the Pulsiverse</h2>
    <form action="#" method="post" th:action="@{/register}" th:object="${user}">
        <label for="userName">Username:</label>
        <input id="userName" name="userName" th:field="*{userName}" type="text">
        <p th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}"></p>
        <label for="password">Password:</label>
        <input id="password" name="password" th:field="*{password}" type="text">
        <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
        <label for="realName">Fullt nafn:</label>
        <input id="realName" name="realName" th:field="*{realName}" type="text">
        <p th:errors="*{realName}" th:if="${#fields.hasErrors('realName')}">hey</p>
        <label for="email">Netfang:</label>
        <input id="email" name="email" th:field="*{email}" type="email">
        <p th:error="*{email}" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
        <input type="submit" value="Register"/>
    </form>
</div>
</html>