<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">Pulsu Index</title>
</head>
<div layout:fragment="content">
    <div class="flex flex-auto flex-col justify-center m-auto">
        <form action="#" class="flex flex-auto flex-row" enctype="multipart/form-data" method="post"
              th:action="@{/newSub}">
            <div class="flex flex-row m-auto justify-content-evenly mr-4">
                <label class="mr-3" for="name">Sub Pulsa Name</label>
                <input class="text-black bg-black border-2 border-white" field="*{name}" id="name" name="name" placeholder="Name" type="text">
            </div>
            <div class="flex flex-row justify-center mr-5">
                <p class="mt-3 mr-3">Image</p>
                <label class="btn" for="image">
                    <input
                            accept="image/*"
                            class="btn-link"
                            field="*{image}"
                            id="image"
                            name="image"
                            type="file">
                </label>
            </div>
            <input class="btn m-auto" type="submit" value="Create new sub pulsa">
        </form>
    </div>
    <div class="flex flex-auto flex-col justify-center m-auto">
        <ul class="">
            <li class="bg-slate-800 p-5 rounded-2xl m-10 w-fit ml-auto mr-auto" th:each="sub : ${subs}">
                <a th:href="@{'/p/' + ${sub.slug}}">
                    <div class="absolute overflow-hidden bg-black w-fit text-center m-auto">
                        <p class="font-bold text-5xl text-center" th:text="${sub.name}"></p>
                    </div>
                    <div class="p-4 bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400">
                        <img class="bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400" th:src="*{sub.image}"/>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    </div>
</html>