<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title" th:text="@{'Sub Puls ' + ${sub.name}}"></title>
    <!-- <script th:replace="fragments/followScript :: followScript"></script> -->
</head>
<div layout:fragment="content">
    <div class="bg-slate-800 p-5 rounded-2xl m-10 w-fit ml-auto mr-auto">
        <a th:href="@{'/p/' + ${sub.slug}}">
            <div class="absolute overflow-hidden bg-black w-fit text-center m-auto">
                <p class="font-bold font-audiowide text-5xl text-center" th:text="${sub.name}"></p>
            </div>
            <div class="p-4 bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400">
                <img class="bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400" th:src="*{sub.image}"/>
            </div>
            <div th:if="${session?.user}" th:switch="${following}" class="relative m-auto w-full text-lg overflow-hidden bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400 text-center right-auto">
                <div th:case="false" class="m-auto">
                    <form class="w-1/4 m-auto" action="#" method="post" th:action="@{/p/} + ${sub.slug} + @{/toggleFollow}">
                        <input class="btn mb-4 m-auto" type="submit" value="Fylgja">
                    </form>
                </div>
                <div th:case="true" class="m-auto">
                    <form class="w-1/4 m-auto" action="#" method="post" th:action="@{/p/} + ${sub.slug} + @{/toggleFollow}">
                        <input class="btn mb-4 m-auto" type="submit" value="Hætta að fylgja">
                    </form>
                </div>
            </div>
        </a>
    </div>
    <p class="text-center w-48 btn ml-auto mr-auto"><a th:href="@{'/p/' + ${sub.slug} + '/newPost'}">Create New Post</a></p>
    <div th:replace="fragments/posts :: posts(sub = true, form = false)"></div>
    <div layout:fragment="oscillatorCode" th:include="fragments/oscilloscope"></div>
</div>
</html>