<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="@{User + ' ' + ${userName}}"></title>
    <script th:replace="fragments/userVisitorScript :: userVisitorScript"></script>
</head>
    <div layout:fragment="content">
        <div th:replace="fragments/accountHeader :: accountHeader(userName = ${userName})"></div>
        <span class="w-full block p-0.5 h1 bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400 mt-6"></span>
        <div class="flex flex-row justify-between mt-8">
            <div class="w-1/4 flex flex-col justify-evenly">
                <button class="btn bio" th:id="@{button}">User Bio</button>
                <button class="btn posts mt-4" th:id="@{button}" th:text="'Posts by ' + ${userName}"></button>
                <button class="btn replies mt-4" th:id="@{button}" th:text="'Replies by ' + ${userName}"/>
                <button class="btn subs mt-4" th:id="@{button}" th:text="'Subs followed by ' + ${userName}"/>
            </div>
            <div class="w-1/2 ml-auto mr-auto">
                <div class="hidden" th:id="bio">
                    <div class="flex flex-row">
                        <p class="text-green-400">Nafn: </p>
                        <p class="ml-4 text-indigo-400" th:text="${realName}"></p>
                    </div>
                    <div class="flex flex-row">
                        <p class="text-green-400">Meðlimur síðan:  </p>
                        <p class="ml-4 text-indigo-400" th:text="${created}"></p>
                    </div>
                </div>
                <div class="hidden postss" th:id="posts" th:each="post : ${posts}">
                    <div class="" th:replace="fragments/post :: post(sub = true, title = false)"></div>
                </div>
                <div class="hidden mt-20 repliess" th:id="replies" th:each="postReply : ${replies}">
                    <div th:replace="fragments/reply:: reply(userpage = true)"></div>
                </div>
                <div class="hidden subss" th:id="subs" th:each="sub : ${subs}">
                    <div class="flex flex-auto flex-col justify-center m-auto">
                        <ul class="">
                            <li class="bg-slate-800 p-5 rounded-2xl m-10 w-fit ml-auto mr-auto">
                                <a th:href="@{'/p/' + ${sub.slug}}">
                                    <div class="absolute overflow-hidden bg-black w-fit text-center m-auto">
                                        <p class="font-bold text-5xl text-center" th:text="${sub.name}"></p>
                                    </div>
                                    <div class="p-4 bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400">
                                        <img class="bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400" th:src="*{sub.image}"/>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>